= link_to new_budget_path, class: "btn btn-success block" do
  %i.icon-plus
  Add New Budget
%br/

.well
  %dl
    %dt Amount Spend:
    %dd= number_to_currency @presenter.expense_total

    %dt Monthly Budget:
    %dd= number_to_currency @presenter.monthly_budget

    %dt Yearly Budget
    %dd= number_to_currency @presenter.yearly_budget


    