#subheader
  .inner
    .container
      %h1 Edit Budget - #{@budget.title}

#subpage
  .container
    = render 'shared/flashes'
    .row
      .span9
        = render partial: 'form', locals: { budget: @budget }
      .span3
        = render partial: 'sidebar'
