#subheader
  .inner
    .container
      %h1
        Budgets:
        = @presenter.period_name

#subpage
  .container
    .row
      .span9
        %table.table.savings
          %thead
            %tr
              %th Title
              %th Spent Month / Budgeted
              %th Spent Year / Budgeted
              %th Schedule
          
          %tbody.income
            = render @presenter.budget_presenters

      .span3
        = render partial: 'sidebar'
