= link_to new_saving_path, class: "btn btn-success block" do
  %i.icon-plus
  Add New Savings
%br/

.well
  %dl
    %dt Monthly Total
    %dd= number_to_currency @presenter.monthly_total

    %dt Yearly Total
    %dd= number_to_currency @presenter.yearly_total
