#subheader
  .inner
    .container
      %h1 Savings

#subpage
  .container
    .row
      .span9
        %table.table.savings
          %thead
            %tr
              %th Title
              %th Monthly Amount
              %th Yearly Amount
              %th Schedule
          
          %tbody.income
            = render @presenter.savings

      .span3
        = render partial: 'sidebar'
