#subheader
  .inner
    .container
      %h1 Bills

#subpage
  .container
    .row
      .span9
        %table.table.bills
          %thead
            %tr
              %th Payee
              %th Date
              %th Amount
              %th Schedule
          
          %tbody.income
            = render @bill

      .span3
        = render partial: 'sidebar'
