#subheader
  .inner
    .container
      %h1 New Bill

#subpage
  .container
    = render 'shared/flashes'
    .row
      .span9
        = render partial: 'form', locals: { bill: @bill }
      .span3

