= link_to new_income_path, class: "btn-large btn-success block" do
  %i.icon-plus
  Add New Income
%br/

.well
  %dl
    %dt Monthly Income
    %dd= number_to_currency @presenter.monthly_total

    %dt Yearly Income
    %dd= number_to_currency @presenter.yearly_total
