= link_to new_income_path, class: "btn btn-success block" do
  %i.icon-plus
  Add New Income
%br/

.well
  %dl
    %dt Monthly Income
    %dd= @presenter.monthly_total

    %dt Yearly Income
    %dd= @presenter.yearly_total
