#subheader
  .inner
    .container
      %h1
        Edit Income
        = @income.name

#subpage
  .container
    = render 'shared/flashes'
    .row
      .span9
        = render partial: 'form', locals: { income: @income }
      .span3
        .well
          
