#subheader
  .inner
    .container
      %h1 Income
#subpage
  .container
    .row
      .span9
        %table.table.incomes
          %thead
            %tr
              %th From
              %th Monthly Amount
              %th Yearly Amount
              %th Date
              %th Schedule
              %th Controls
          %tbody
            = render @presenter.incomes
          %tfoot
            %th Totals
            %th= number_to_currency @presenter.monthly_total
            %th= number_to_currency @presenter.yearly_total
            %th{ colspan: 3} &nbsp;

      .span3
        = render partial: 'incomes/sidebar'