#subheader
  .inner
    .container
      %h1 New Income

#subpage
  .container
    = render 'shared/flashes'
    .row
      .span9
        = render partial: 'form', locals: { income: @income }
      .span3
        .well
          %p Test
