/*
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require themes/green
 *= require jquery-bootstrap-datepicker
 *= require_tree ./pages/
 *= require_self
*/

.block { display: block; }

table {
  tr.debit {
    .amount {
      color: red;
    }
  }
  tr.credit {
    .amount {
      color: green;
    }
  }

  tr td {
    &.credit, span.credit { color: green; }
    &.debit, span.debit { color: red; }
  }
}